<div class="container card text-white bg-dark mb-3" style="max-width: 75rem;">
    <div class="card-header">
        <img src="assets\baner.avif" class="banner">
    </div>
    <div class="top-card">
        <div class="d-flex justify-content-star">
            <div class="text-star ">
                <div class="photo">
                    <img src="assets\nona.jpg" id="nona">
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card text-white bg-black mb-4  me " style="max-width: 50rem;">
            <div class="card-header">
                <h3 class="card-title" id="nombre">{{persona.nombre}} {{persona.apellido}}</h3>
                <p class="card-text ">{{persona.oficio}}</p>
            </div>
            <div class="card-body text-white ">
                <hr>
                <h5 class="card-title">Sobre Mi</h5>
                <p class="card-text">{{persona.sobremi}}</p>
            </div>
        </div>
    </div>
</div>