<div class="container text-white bg-dark mb-3" style="max-width: 75rem">
    <div class="row justify-content-center spac">
        <div class="col-md-6 mt-3 ">
            <h3 class="progress-title text-white">HTML5</h3>
            <div class="progress red">
                <div class="progress-bar progress-bar-danger progress-bar-striped active" style="width:65%;">
                    <div class="progress-value">65%</div>
                </div>
            </div>
            <h3 class="progress-title text-white">CSS3</h3>
            <div class="progress blue">
                <div class="progress-bar progress-bar-info progress-bar-striped active" style="width:87%;">
                    <div class="progress-value">87%</div>
                </div>
            </div>
        </div>
    </div>
</div>