<div class="container card text-white bg-dark mb-3" style="max-width: 75rem">
    <h1 class="card-title title">Educacion</h1>
    <div class=" align-content-start d-flex flex-wrap">
        <div class="card espac " style="width: 18rem;" *ngFor="let Educacion of edu">
            <div class=" card-body">
                <h5 class="card-title">{{Educacion.nombreE}}</h5>
                <h6 class="card-title">{{Educacion.startE}} - {{Educacion.endE}}</h6>
                <hr>
                <p class="card-text">{{Educacion.descripcionE}}</p>
                <div class="d-flex justify-content-between flex-wrap espac" *ngIf="isLogged">
                    <button type="button" routerLink="/editedu/{{Educacion.id}}"
                        class="btn btn-warning d-flex flex-wrap ">
                        Editar
                    </button>
                    <button type="button" (click)="delete(Educacion.id)" class="btn btn-warning d-flex flex-wrap">
                        Eliminar
                    </button>
                </div>
            </div>
        </div>
        <div class="card espac" style="width: 18rem;" *ngIf="isLogged">
            <div class=" card-body d-flex">
                <div class="m-5 ">
                    <button type="button" routerLink="/nuevaedu" class="btn btn-warning">
                        Nueva Educacion
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>