<footer class="bg-dark me-auto d-flex text-white flex-column">
    <div class="bg-dark text-white me-auto  container d-flex justify-content-between espac ">
        <div>
            <a href=""><img src="assets\linkedin.png" id="linkedin" width="40px"></a>
        </div>
        <div>
            <a href=""><img src="assets\twitter.png" id="twitter" width="40px"></a>
        </div>
        <div>
            <a href=""><img src="assets\instagram.png" id="instagram" width="40px"></a>
        </div>
        <div>
            <a href=""><img src="assets\github.png" id="github" width="40px"></a>
        </div>
        <div>
            <a href=""><img src="assets\facebook.png" id="facebook" width="40px"></a>
        </div>

    </div>
    <div class="text-center">
        <p>Jeremias Bozal © Argentina Programa</p>
    </div>
</footer>